* {
    box-sizing: border-box !important;
}

body {
    padding: 0;
    margin: 0;
}
.page-content {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}
.page-element {
    display: flex;
    flex-direction: column;
}
.nav-bar {
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 132px;
    position: absolute;
    top: 0;
}
@media only screen and (max-width: 992px) {
    .nav-bar {
    justify-content: space-around;
    }
}
@media only screen and (max-width: 1200px) {
    .nav-bar {
        justify-content: space-around;
    }
}
.nav-logo {
    width: 20%;
    display: flex;
    align-items: center;
}
.navigation {
    width: 40%;
}
@media only screen and (max-width: 992px) {
    .navigation {
        width: 60%;
    }
}
@media only screen and (max-width: 1200px) {
    .navigation {
        width: 50%;
    }
}
.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 14px;
}

@media only screen and (max-width: 1900px) {
    .nav-menu {
        font-size: 12px;
    }
}
.nav-menu li a {
    text-decoration: none;
    color: #f4f5f9;
    transition: all 0.6s;
}
.nav-menu li a:hover {
    color: #e74c3c;
}
.active {
    border-bottom: 1px solid #e74c3c;
    color: #e74c3c !important;
    padding-bottom: 20px;
}
.slideshow {
    position: relative;
    height: 980px;
    width: 100%;
}
@media only screen and (max-width: 992px) {
    .slideshow {
        height: 750px;
    }
}
@media only screen and (max-width: 1200px) {
    .slideshow {
        height: 850px;
    }
}
.slideshow div img {
    height: 980px;
    width: 100%;
}
@media only screen and (max-width: 992px) {
    .slideshow  div img{
        height: 750px;
    }
}
@media only screen and (max-width: 1200px) {
    .slideshow div img {
        height: 850px;
    }
}
.slideshow-blanket {
    position: absolute;
    height: 980px;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.7);
}
@media only screen and (max-width: 992px) {
    .slideshow-blanket{
        height: 750px;
    }
}
@media only screen and (max-width: 1200px) {
    .slideshow-blanket {
        height: 850px;
    }
}
.button-next {
    position: absolute;
    top: calc(50% - 22px);
    right: 25px;
    z-index: 100;
    border: none;
    width: 44px;
    height: 44px;
    outline: none;
    padding: 0;
    opacity: 0.3;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.5s;
}
@media only screen and (max-width: 992px) {
    .button-next {
        width: 33px;
        height: 33px;
    }
}
@media only screen and (max-width: 1200px) {
    .button-next {
        width: 37px;
        height: 37px;
    }
}
.button-next:hover {
    background-color: #e74c3c;
    opacity: 1;
}
.button-next_icon {
    border-bottom: 3px solid;
    border-right: 3px solid;
    transform: rotate(-45deg);
    width: 15px;
    height: 15px;
    margin-left: 12px;
}
@media only screen and (max-width: 992px) {
    .button-next_icon {
        width: 12px;
        height: 12px;
        margin-left: 9px;
    }
}
@media only screen and (max-width: 1200px) {
    .button-next_icon {
        width: 13px;
        height: 12px;
        margin-left: 11px;
    }
}
.button-next:hover .button-next_icon {
    border-color: #f4f5f9;
    transition: all 0.5s;
}
.button-prev {
    position: absolute;
    top: calc(50% - 22px);
    left: 25px;
    z-index: 100;
    border: none;
    width: 44px;
    height: 44px;
    outline: none;
    padding: 0;
    opacity: 0.3;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.5s;
}
@media only screen and (max-width: 992px) {
    .button-prev {
        width: 33px;
        height: 33px;
    }
}
@media only screen and (max-width: 1200px) {
    .button-prev {
        width: 37px;
        height: 37px;
    }
}
.button-prev:hover {
    background-color: #e74c3c;
    opacity: 1;
}
.button-prev_icon {
    border-bottom: 3px solid;
    border-right: 3px solid;
    transform: rotate(135deg);
    width: 15px;
    height: 15px;
    margin-left: 16px;
}
@media only screen and (max-width: 992px) {
    .button-prev_icon {
        width: 12px;
        height: 12px;
        margin-left: 13px;
    }
}
@media only screen and (max-width: 1200px) {
    .button-prev_icon {
        width: 13px;
        height: 12px;
        margin-left: 14px;
    }
}
.button-prev:hover .button-prev_icon {
    border-color: #f4f5f9;
    transition: all 0.5s;
}
.slideshow-dots {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
#slick-slide-control00, #slick-slide-control01, #slick-slide-control02 {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 115px;
    z-index: 100;
    border-radius: 50%;
    outline: none;
    border: 1px solid #f4f5f9;
    background-color: transparent;
    font-size: 0;
}
@media only screen and (max-width: 992px) {
    #slick-slide-control00, #slick-slide-control01, #slick-slide-control02 {
        width: 12px;
        height: 14px;
    }
}
@media only screen and (max-width: 1200px) {
    #slick-slide-control00, #slick-slide-control01, #slick-slide-control02 {
        width: 14px;
        height: 14px;
    }
}
#slick-slide-control00 {
    left: 48%;
}
#slick-slide-control01 {
    left: 50%;
}
#slick-slide-control02 {
    left: 52%;
}
.slick-active button {
    background-color: #f4f5f9 !important;
}
.welcome-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f4f5f9;
}
.welcome-subtitle {
    text-transform: capitalize;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 5px 0;
}
@media only screen and (max-width: 992px) {
    .welcome-subtitle{
        font-size: 18px;
    }
}
@media only screen and (max-width: 1200px) {
    .welcome-subtitle{
        font-size: 20px;
    }
}
.welcome-content h1 {
    text-transform: uppercase;
    font-size: 96px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.08em;
    text-align: center;
}
@media only screen and (max-width: 992px) {
    .welcome-content h1{
        font-size: 72px;
    }
}
@media only screen and (max-width: 1200px) {
    .welcome-content h1{
        font-size: 80px;
    }
}
.welcome-decoration {
    width: 194px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.welcome-decoration div:nth-child(1) {
    height: 1px;
    width: 80px;
    background-color: #f4f5f9;
}
.welcome-decoration div:nth-child(2) {
    height: 6px;
    width: 6px;
    background-color: #e74c3c;
    border-radius: 50%;
}
.welcome-decoration div:nth-child(3) {
    height: 1px;
    width: 80px;
    background-color: #f4f5f9;
}
.welcome-informction {
    font-size: 14px;
    text-align: center;
    width: 600px;
    margin: 20px 0 80px 0;
}
@media only screen and (max-width: 992px) {
    .welcome-informction{
        font-size: 12px;
    }
}
.welcome-buttons {
    display: flex;
    justify-content: space-between;
    width: 480px;
}
@media only screen and (max-width: 992px) {
    .welcome-buttons{
        width: 360px;
    }
}
@media only screen and (max-width: 1200px) {
    .welcome-buttons {
        width: 398px;
    }
}
.button-animation{
    display: inline-block;
    position: relative;
}
span{
    display: block;
}
.button-animation::before, .button-animation::after{
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #f4f5f9;
}

span::before, span::after{
    content:"";
    width: 2px;
    height:0;
    position: absolute;
    transition: all 0.2s linear;
    background: #f4f5f9;
}
.button-animation:hover::before, .button-animation:hover::after{
    width: 100%;
}
.button-animation:hover span::before, .button-animation:hover span::after{
    height: 100%;
}
.button-animation::before, .button-animation::after{
    transition-delay: 0.2s;
}
.button-animation span::before, .button-animation span::after{
    transition-delay: 0s;
}
.button-animation::before{
    right: 0;
    top: 0;
}
.button-animation::after{
    left: 0;
    bottom: 0;
}
.button-animation span::before{
    left: 0;
    top: 0;
}
.button-animation span::after{
    right: 0;
    bottom: 0;
}
.button-animation:hover::before, .button-animation:hover::after{
    transition-delay: 0s;
}
.button-animation:hover span::before, .button-animation:hover span::after{
    transition-delay: 0.2s;
}
.welcome-buttons button {
    height: 56px;
    width: 225px;
    outline: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-family: 'Open Sans', sans-serif;
    color: #f4f5f9;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 3px;
}
@media only screen and (max-width: 992px) {
    .welcome-buttons button{
        height: 42px;
        width: 169px;
        font-size: 10px;
    }
}
@media only screen and (max-width: 1200px) {
    .welcome-buttons button{
        height: 46px;
        width: 187px;
        font-size: 12px;
    }
}
.welcome-button_dangerous {
    background-color: #e74c3c;
    border: none;
}
.welcome-button_soft {
    background-color: transparent;
    border: 1px solid #f4f5f9;
}
.triangle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 123px;
    position: relative;
    width: 100%;
    height: 155px;
    overflow: hidden;
}
.triangle img {
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 0;
    z-index: 100;
}

.triangle-left {
    top: 0;
    width: 50%;
    height: 123px;
    border-bottom: 123px solid #ffffff;
    border-right: 1020px solid transparent;
    position: relative;
}
.triangle-right {
    top: 0;
    width: 50%;
    height: 123px;
    border-bottom: 123px solid #ffffff;
    border-left: 1020px solid transparent;
    position: relative;
}
.page-information {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 90px;
}
.page-element_information {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media only screen and (max-width: 992px) {
    .page-element_information {
        width: 90%;
    }
}
@media only screen and (max-width: 600px) {
    .page-element_information {
        flex-direction: column;
    }
}
.center-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .center-element {
        margin: 0 0 60px 0;
    }
}
.square-icon {
    border: 1px solid #E6E6E6;
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.square-icon:hover {
    border-color: #e74c3c;
    transform: rotate(45deg);
    transition: all 0.5s;
}
.square-icon:hover + h4 {
    color: #e74c3c;
    transition: all 0.5s;
}
.square-icon img {
    transition: all 0.5s;
}
.square-icon:hover img{
    transform: rotate(-45deg);
    transition: all 0.5s;
}
.center-element h4 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 18px;
    margin: 24px 0 0 0;
    color: #585858;
    transition: all 0.5s;
}
@media only screen and (max-width: 992px) {
    .center-element h4 {
        font-size: 16px;
        margin: 22px 0 0 0;
    }
}
.decoration {
    margin: 14px 0;
    width: 40px;
    height: 1px;
    background-color: #585858;
}
@media only screen and (max-width: 992px) {
    .decoration {
        margin: 12px 0;
    }
}
.center-element p {
    font-size: 12px;
    text-align: center;
    margin: 0 15px;
    color: gray;
}
@media only screen and (max-width: 992px) {
    .center-element p {
        font-size: 12px;
        margin: 0 12px;
    }
}